[class*="l-container"] {
  width: min(100% - var(--padding, 2rem), var(--max-width, 60rem));
}

.l-container {
  &-narrow {
    --max-width: 40rem;
  }

  &-wide {
    --max-width: 80rem;
  }

  &-full {
    --max-width: 100%;
  }
}
