.u-transition {
  transition-property: var(--transition-props);
  transition-duration: var(--transition-duration, 1s);
  transition-timing-function: var(--transition-timing, linear);
  transition-delay: var(--transition-delay, 0);
}
