@use "sass/abstracts" as *;

.header {
  width: 100%;
  position: fixed;
  z-index: 100;
  color: var(--color-txt-3);
  background-color: var(--color-background-2);
}

.button {
  height: 70px;

  &:hover {
    color: var(--color-txt-2);

    &:not(.home) {
      background-color: var(--color-background-3);
    }
  }
}

.home {
  padding: 8px;

  &-title {
    font-weight: 600;
    font-size: rem(22px);
    line-height: rem(26px);
    margin: rem(2px);
  }
}
